@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  @include mat.theme(
    (
      typography: Roboto,
      density: (scale: -2)
    )
  );
}

:root {
    @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    ));
}

:root {
    @include mat.table-overrides((
      row-item-outline-color: var(--mat-sys-outline),
      header-headline-color: var(--mat-sys-primary),
    ));
}